# Rstudio
.Rproj.user
.Rhistory
.RData
.Ruserdata

# jupyter
.ipynb_checkpoints/*

# data
data/*
!data/.gitkeep
!data/skip/
data/skip/*
!data/skip/.gitkeep

# output
output/*
!output/.gitkeep
!output/parsed_csv/
output/parsed_csv/*
!output/parsed_csv/.gitkeep

# lib
lib/__pycache__/*
